@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #212121;
  --bordercolor: #c4c4c4;
  --gray: #b2b2b2;
  --lightorange: #ff9900;
  --custompink: #ffcddb;
  --customyellow: #f2e89e;
  --customskyblue: #dceff5;
  --areabg: #cedcff;
}
.dark {
  --white: #212121;
  --black: #ffffff;
  --bordercolor: #666666;
}

body {
  color: var(--black);
  background: var(--white);
  @apply text-base;
}
@layer utilities {
  /* after-example 클래스에 :after 가상 요소 스타일 적용 */
  .after-example::after {
    content: '';
    display: block;
    width: 100%;
    height: 160px;
    background-color: var(--white);
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .nav-affter.on::after {
    width: 100%;
  }

  .nav-affter::after {
    content: '';
    display: inline-block;
    width: 0%;
    height: 2px;
    background-color: var(--black);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    transition: width 0.3s ease;
  }
  @media all and (min-width: 1024px) {
    .nav-affter.on::after {
      width: 5px;
      height: 5px;
    }
    .nav-affter:hover::after {
      width: 5px;
      height: 5px;
    }
    .nav-affter::after {
      content: '';
      display: inline-block;
      width: 0px;
      height: 0px;
      background-color: var(--black);
      border-radius: 100%;
      position: absolute;
      right: -10px;
      top: 10px;
      left: unset;
      transform: unset;
      transition: width 0.3s ease;
    }
    .clearfix::after {
      content: '';
      display: table;
      clear: both;
    }
  }
}
/* 라이트 모드 */
.header-logo {
  color: var(--black);
}

/* 다크 모드 */
@media (prefers-color-scheme: dark) {
  .header-logo {
    color: var(--black);
  }
}
