@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #212121;
  --bordercolor: #c4c4c4;
  --lightorange: #ff9900;
}
.dark {
  --background: #212121;
  --foreground: #ffffff;
  --bordercolor: #666666;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply text-base;
}

/* 라이트 모드 */
.header-logo {
  color: var(--foreground);
}

/* 다크 모드 */
@media (prefers-color-scheme: dark) {
  .header-logo {
    color: var(--foreground);
  }
}
